html, body, div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*overflow-y: scroll;*/
}


#holder {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
}

#holder.hover {
	background-color: rgba(51, 51, 51, .8);
	background-image: url(../img/plus.svg);
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}


#queue {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background-color: #ccc;
}
#queue .job {
	height: 30px;
	line-height: 30px;
}
#queue .job:nth-child(2n) {
	background-color: #eee;
}
#queue .job__file {
	float: left;
	padding: 0 10px;
	width: 80%;
}
#queue .job__status {
	float: right;
	height: 30px;
	width: 30px;
	overflow: hidden;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}
#queue .job__status.is-pending {
	background-image: url(../img/clock.svg);
}
#queue .job__status.is-started {
	background-image: url(../img/loader.svg);
}
#queue .job__status.is-done {
	background-image: url(../img/checkmark.svg);
}
